doctype html
html
  head
    title Bhojpuria Dance Academy
    block scripts
    block style 
  body
    nav#navbar
        ul
            div#logo 
                img(src="./static/my_logo-removebg-preview.png", alt="")
                p BDA

            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="contact") Contact us] 
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
    block content
    footer#footer
      |Copyright © 2023 BhojpuriaDanceAcademy.com | All right reserve
     
      